[submodule "lostfound-service"]
	path = lostfound-service
	url = https://github.com/bytegrip/lostfound-service
[submodule "budgeting-service"]
	path = budgeting-service
	url = https://github.com/bytegrip/budgeting-service
[submodule "checkin-service"]
	path = checkin-service
	url = https://github.com/FriptuLudmila/checkin-service
[submodule "booking-service"]
	path = booking-service
	url = https://github.com/FriptuLudmila/booking-service
[submodule "notification-service"]
	path = notification-service
	url = https://Masha003@github.com/Masha003/notification-service.git
[submodule "user-management-service"]
	path = user-management-service
	url = git@github.com:Masha003/user-management-service.git
[submodule "tea-management-service"]
	path = tea-management-service
	url = https://github.com/katymun/tea-management-service
