[submodule "lostfound-service"]
	path = lostfound-service
	url = https://github.com/bytegrip/lostfound-service
[submodule "budgeting-service"]
	path = budgeting-service
	url = https://github.com/bytegrip/budgeting-service
[submodule "checkin-service"]
	path = checkin-service
	url = https://github.com/FriptuLudmila/checkin-service
[submodule "booking-service"]
	path = booking-service
	url = https://github.com/FriptuLudmila/booking-service
[submodule "notification-service"]
	path = notification-service
	url = git@github.com:Masha003/notification-service.git
[submodule "user-management-service"]
	path = user-management-service
	url = git@github.com:Masha003/user-management-service.git
[submodule "tea-management-service"]
	path = tea-management-service
	url = https://github.com/katymun/tea-management-service
[submodule "communication-service"]
	path = communication-service
	url = https://github.com/katymun/communication-service
[submodule "fund-raising-service"]
	path = fund-raising-service
	url = https://github.com/felycianovac/fund-raising-service
[submodule "sharing-service"]
	path = sharing-service
	url = https://github.com/felycianovac/sharing-service
[submodule "faf-mgmt-gateway"]
	path = faf-mgmt-gateway
	url = https://github.com/bytegrip/faf-mgmt-gateway
[submodule "discovery"]
	path = discovery
	url = https://github.com/bytegrip/discovery
[submodule "shortbus"]
	path = shortbus
	url = https://github.com/bytegrip/shortbus
